# Virtual Environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Build files
dist/
build/
*.egg-info/

# SQLite (if you ever use it)
*.sqlite3